<div class="wrappingPersonalSettings">
    <div class="formsMenu">
        <section class="createPicture">
            <form onSubmit={onSubmitEditPictureHandler}>
                <fieldset class="orderFieldsetByColumn">
                    <legend>photogram</legend>
                    <div class="formHeaderCreateImage">
                    <h1>Edit the picture</h1>
                    </div>
                    <!-- <InputError>{messageError}</InputError> -->
                    <p class="fieldCreatePet">
                        <label htmlFor="image">Image</label>
                        <span class="inputCreatePet">
                            <input type="text" name="image" id="image" defaultValue={prevInfo.image}
                                placeholder="Image" />
                            <span class="actions"></span>
                        </span>
                    </p>
                    <p class="fieldCreatePet">
                        <label htmlFor="description">Description</label>
                        <span class="input">
                            <textarea rows="4" cols="45" type="text" name="description" id="description"
                                placeholder="Tell us something about the picture"
                                defaultValue={prevInfo.description}></textarea>
                            <span class="actions"></span>
                        </span>
                    </p>
                    <hr />
                    <span class="createImgButton">
                        <input class="button submit" type="submit" value="Edit the picture" />
                    </span>
                </fieldset>
            </form>
        </section>
    </div>

    <div class="thirdPosition"></div>
</div>