<section class="authRegisterWrapper">
    <div class="authRegisterLeftAlignment"></div>
    <div class="authRegisterForm">
        <div class="formsMenu">
            <section class="createPicture">
                <form onSubmit={onClickRegisterForm}>
                    <fieldset class="orderFieldsetByColumn">
                        <legend>photogram</legend>
                        <div class="formHeaderCreateImage">
                            <h2>Please register your new account</h2>
                        </div>
                        <!-- <InputError>{errorMessage}</InputError> -->
                        <p class="fieldCreatePet">
                            <label htmlFor="email">Email</label>
                            <span class="inputChangePassword">
                                <input type="email" name="email" id="email" placeholder="Type your email" />
                                <span class="actions"></span>
                            </span>
                        </p>

                        <p class="fieldCreatePet">
                            <label htmlFor="username">Username</label>
                            <span class="inputChangePassword">
                                <input type="text" name="username" id="username" placeholder="Type your username" />
                                <span class="actions"></span>
                            </span>
                        </p>

                        <p class="fieldCreatePet">
                            <label htmlFor="password">Password</label>
                            <span class="inputChangePassword">
                                <input type="password" name="password" id="password" placeholder="Type your password" />
                                <span class="actions"></span>
                            </span>
                        </p>

                        <p class="fieldCreatePet">
                            <label htmlFor="rePassword">Repeat password</label>
                            <span class="inputChangePassword">
                                <input type="password" name="rePassword" id="rePassword" placeholder="Confirm your password" />
                                <span class="actions"></span>
                            </span>
                        </p>

                        <hr />
                        <span class="createImgButton">
                            <input class="button submit" type="submit" value="Register" />
                        </span>
                    </fieldset>
                </form>
            </section>
        </div>
    </div>
    <div class="authRegisterRightAlignment"></div>
</section>
