.authRegisterWrapper {
    display: flex;
}

.authRegisterForm {
    flex: 1;
    justify-content: center;
}

.authRegisterLeftAlignment {
    flex: 1;
}

.authRegisterRightAlignment {
    flex: 1
}

.formHeaderCreateImage h2 {
    text-align: center;
}