<div class="theme-title" *ngIf="images">
    <div class="wrappingAccountProfile">
        <div class="flexOrderPersonalSettingsAndAccountSettings">
            <h1>My Profile</h1>
            <span class="fitImgWithAccountInfo">
                <img class="resizeImg"
                    src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/e1fd5442419075.57cc3f77ed8c7.png"
                    alt="Nothing to display" />
                <span class="setCertainPointsForNewLines">
                    <button>Folow</button>
                    <h2 class="break">username</h2>
                    <h3 class="break">Posts: 24</h3>
                    <h3>Subscribers: 10</h3>
                </span>
            </span>
            <hr class="borderLine" />
            <div class="ordersingleCollectionImgs">
                <div>
                    <div *ngFor="let image of images" class="theme-container">
                        <a ><img class="singleCollectionImg" key={image._id} src={image.image}
                            alt="Nothing to display" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!images">Loading..</div>