<section class="CardPhotos">
    <div class="sectionWrapper">
        <div class="individualSectionWrapper">
            <span>
                <h1>nikolay11</h1>
            </span>
            <a to="/image/details/${_id}`"></a><img class="actualImg" src="https://cdn.pixabay.com/photo/2014/02/27/16/10/tree-276014__340.jpg" alt="No image" />
            <p class="descriptionImg">Description: Beautiful Nature</p>
            <h2 class="imgLikes">Likes: 20</h2>
        </div>
    </div>
    <div class="sectionWrapper">
        <div class="individualSectionWrapper">
            <span>
                <h1>nikolay11</h1>
            </span>
            <a to="/image/details/${_id}`"></a><img class="actualImg" src="https://thumbs.dreamstime.com/b/nature-forest-trees-growing-to-upward-to-sun-wallpaper-42907586.jpg" alt="No image" />
            <p class="descriptionImg">Description: Beautiful Nature</p>
            <h2 class="imgLikes">Likes: 20</h2>
        </div>
    </div>
    <div class="sectionWrapper">
        <div class="individualSectionWrapper">
            <span>
                <h1>nikolay11</h1>
            </span>
            <a to="/image/details/${_id}`"></a><img class="actualImg" src="https://thumbs.dreamstime.com/b/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg" alt="No image" />
            <p class="descriptionImg">Description: Beautiful Nature</p>
            <h2 class="imgLikes">Likes: 20</h2>
        </div>
    </div>
</section>

