<div class="theme-title" *ngIf="images">
    <div *ngFor="let image of images" class="theme-container">
        <section class="CardPhotos">
            <div class="sectionWrapper">
                <div class="individualSectionWrapper">
                    <span>
                        <h1>{{image.username}}</h1>
                    </span>
                    <a routerLink="/details/{{image._id}}"><img class="actualImg"
                        src="{{image.image}}" alt="No image" /></a>
                    <p class="descriptionImg">Description: {{image.description}}</p>
                    <h2 class="imgLikes">Likes: 20</h2>
                </div>
            </div>
        </section>
    </div>
    <div class="loadImages" (click)=loadMoreImages()>Click to load more resources...</div>
</div>
<div *ngIf="!images">Loading..</div>