<header id="site-header">
    <nav class="navbar">
        <section class="navbar-left">
            <div class="left-logged">

                <!-- {isAuthenticated
                    ? <Link class="button" to="/">photogram</Link>
                    : null
                } -->
                <a *ngIf="isLogged" routerLink="/">NgInsta</a>
                <a *ngIf="!isLogged" routerLink="/home">NgInsta</a>
            </div>
        </section>

        <section class="navbar-rightL">
            <div class="right-logged">
                <!-- {isAuthenticated
                    ? <Link to="/account/profile">Hello, {username}</Link>
                    : null
                } -->
                <a *ngIf="isLogged" routerLink="/profile">Hello, {{username}}</a>
                <a *ngIf="isLogged" (click)="logout()">Logout</a>

            </div>
        </section>

        <section class="navbar-right">
            <div class="annonymous" *ngIf="!isLogged">
                <!-- {!isAuthenticated
                    ? 
                    <>
                        <Link class="button" to='/auth/login'>Login</Link>
                        <Link class="button" to='/auth/register'>Register</Link>
                    </>
                    : null
                } -->
                <a routerLink="/login">Login</a>
                <a routerLink="/register">Register</a>
            </div>
        </section>
    </nav>
    <div class="spacer"></div>
</header>
