<section class="detailsWrapper">

    <section class="detailsMiddlePositioned">
        <span>
            <div><h3>Nikolay</h3></div>
        </span>
        <img class="detailsImg" src="" alt="No pic for now" />
        <div><h3>Description: test</h3></div>
        <h3 >Likes: 20</h3>

        <!-- {canDelete
            ? <>
                <Link to={`/image/edit/${image._id}`} style={{ textDecoration: 'none' }}><h3 >Edit</h3></Link>
                <Link style={{ textDecoration: 'none' }} onClick={onDeletehandler}><h3>Delete</h3></Link>
            </>
            : null
        } -->
    </section>

    <section class="detailsEmptySection" ></section>

</section>
