.wrappingPersonalSettings {
    // display: flex;
    margin: 0 auto;
    max-width: 900px;
}

.formsMenu {
    flex: 1;
    /* height: 500px;  */
}

.thirdPosition {
    flex: 1
}

.createPicture {
    display: flex;
    flex-direction: column;
}

.orderFieldsetByColumn {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.orderFieldsetByColumn hr {
    width: 300px;
    border-color: gray;
    margin-bottom: 30px;
}

.formHeaderCreateImage h1{
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
}

.fieldCreatePet {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    text-align: center;
}

.inputCreatePet input {
    border-radius: 5px;
}

.createImgButton {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.createImgButton input {
    position: relative;
    background-color: lightskyblue;
    color: white;
    border-radius: 4px;
    border-width: 2px;
    border-style: outset;
    width: 200px;
}

  